<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - MPSolutions</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Header -->
  <header>
    <h2>MPSolutions</h2>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="https://wa.me/+5531980139754" target="_blank">Contato</a>
      <a href="/sobre" target="_blank">Sobre</a>
      <a href="/logout" class="btn-sair btn-danger">Sair</a>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <!-- Sobre Mim -->
    <section id="sobre-mim">
      <h1>Sobre Mim</h1>
      <h3><i>Olá, sou Marley Paranhos, um desenvolvedor back-end apaixonado por criar soluções inovadoras.
        <br>Tenho experiência com Python, Flask, SQLite e AWS.
      <br>Estou sempre em busca de novos desafios e aprendizados.</i></h3>
    </section>

    <!-- Meus Projetos -->
    <section id="meus-projetos">
      <h1>Meus Projetos</h1>
      <div class="projetos-container">
        <div class="projeto">
          <img src="../images/01.jpeg" alt="projeto 1">
          <h4>Controle de Estoque</h4>
          <p>Cadastro de produtos e controle de estoque.</p>
        </div>
        <div class="projeto">
          <img src="../images/01.jpeg" alt="projeto 1">
          <h4>Controle de Estoque</h4>
          <p>Cadastro de produtos e controle de estoque.</p>
        </div>
        <div class="projeto">
          <img src="../images/01.jpeg" alt="projeto 1">
          <h4>Controle de Estoque</h4>
          <p>Cadastro de produtos e controle de estoque.</p>
        </div>
      </div>
    </section>

    <!-- Download Currículo -->
    <section id="download-curriculo">
      <div class="curriculo">
        <h1>Baixe meu Currículo</h1>
      <form action="/download" method="get">
        <button type="submit" class="btn btn-primary">Download</button>
      </form>
      </div>
    </section>

  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-container">
      <p>&copy; 2024 MPSolutions. Todos os direitos reservados.</p>
      <p>Siga-nos: 
        <a href="https://www.linkedin.com/in/marley-paranhos" target="_blank">LinkedIn</a> | 
        <a href="https://github.com/marley-paranhos" target="_blank">GitHub</a>
      </p>
    </div>
  </footer>
</body>
</html>
