/* Corpo da página */
/* Define o estilo geral da página com fonte, fundo gradiente com imagem, e configurações de layout flexível */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(24, 42, 80, 0.8), rgba(129, 129, 129, 0.8)),
  url('../images/fundo.avif');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container para centralizar o conteúdo principal */
/* Centraliza o conteúdo no centro da página */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Permite que o main ocupe o restante do espaço disponível */
}

/* Container para centralizar o formulário */
/* Define um tamanho máximo, bordas arredondadas, sombra, e fundo semitransparente */
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(197, 197, 197, 0.1);
  text-align: center;
  background-color: rgba(40, 40, 42, 0.639);
}

/* Footer */
/* Estiliza o rodapé com cor de fundo escura, texto claro e centralização do conteúdo */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
/* Estiliza o cabeçalho com cor de fundo escura, texto claro e elementos alinhados */
header {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
/* Define o estilo da logo com tamanho maior e fonte destacada */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Links de navegação */
/* Cria um layout horizontal com espaçamento entre os links e efeitos de transição */
.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

/* Centralização adicional para o container do cabeçalho */
.header-container {
  display: flex;
  justify-content: space-between;
}

/* Títulos */
/* Centraliza os títulos e define cores claras */
h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* Parágrafos */
/* Centraliza o texto, define margens e ajusta o tamanho do texto */
p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

/* Estilo do formulário */
/* Usa layout flexível vertical para inputs e define estilos padronizados */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 95%;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Mensagens de erro */
/* Destaca mensagens de erro com cor vermelha */
.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

/* Links */
/* Estilo padrão para links com efeitos de hover */
a {
  text-decoration: none;
  color: #007BFF;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

/* Botões */
/* Define botões com estilo interativo, arredondado e centralizado */
button {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
  width: auto;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  transition: 0.9s;
}

/* Labels */
/* Estilo para labels com alinhamento à esquerda e tamanho de fonte ajustado */
label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff;
}

/* Estilização da página index.html */
/* Define uma seção de boas-vindas com fundo semitransparente e sombra */
.welcome-container {
  text-align: center;
  background-color: rgba(40, 40, 42, 0.639);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.dashboard-container {
  text-align: center;
  background-color: rgba(40, 40, 42, 0.639);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
/* Ajustes para dispositivos com largura menor que 768px */
@media (max-width: 768px) {
  .container {
      padding: 10px;
      text-align: center;
  }

  body {
    margin: 10px;
  }

  .welcome-container {
      padding: 10px;
      text-align: center;
  }

  h1, h2, p {
      font-size: 1.2rem;
  }
}

/* Identificação do desenvolvedor */
#developer {
  font-style: italic;
  font-size: 0.9rem;
  color: #cccccc;
}
